<li id="contribution-<%= contribution.id %>">
  <span class="title"><%= contribution.title %></span>
  (<span class="url"><%= contribution.url %></span>)
  <br>
  <span class="points"><%= contribution.points %> points</span>
  <span class="user">by <%= link_to contribution.user.name, contribution.user %></span>
  <span class="timestamp">
    <%= time_ago_in_words(contribution.created_at) %> ago
  </span>
</li>