/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header img {
  float: left;
  width: 19px;
  height: 19px;
  background: #555;
}

.header{
    background-color: #ff6600;
    padding: 2px 4px 2px 4px;
    z-index: 99;
}

.header a{
    color: #000;
}

a:hover{
    color: #000;
    background-color: transparent;
}


body{
    width: 85%;
    margin: -50px auto 0px auto;
    font-family:Verdana, Geneva, sans-serif; 
}

.header b{
    margin-right: 10px;
    font-size: 14px;
}




