<!DOCTYPE html>
<html>
  <head>
    <title>Hackernews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
      <div class="header">
        <a><img src="<%= image_path('icono.png') %>" /></a>
        <a><b><%= link_to "Hacker News", contributions_path, id: "logo" %></b></a>
            <a><%= link_to "new", contributions_path %></a>
            <a> | </a>
            <a><%= link_to "comments",   '#' %></a>
            <a> | </a>
            <a><%= link_to "show",   '#' %></a>
            <a> | </a>
            <a><%= link_to "ask",   '#' %></a>
            <a> | </a>
            <a><%= link_to "jobs",   '#' %></a>
            <a> | </a>
            <a><%= link_to 'submit', new_contribution_path %></a>
            <a> | </a>
            <a><%= link_to "login", '#' %></a>
        </div>
        <div class="container">
        <%= yield %>
        </div>
  </body>
</html>
